<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <activeProfiles>
    <activeProfile>github</activeProfile>
  </activeProfiles>

  <profiles>
    <profile>
      <id>github</id>
      <repositories>
        <repository>
            <id>aws-snapshot</id>
            <url>s3://bima-artifact-repository/snapshot</url>
        </repository>
        <repository>
            <id>aws-release</id>
            <url>s3://bima-artifact-repository/release</url>
        </repository>
      </repositories>
    </profile>
  </profiles>

  <servers>
    <server>
      <id>aws-release</id>
      <username>${env.AWS_ACCESS_KEY}</username>
      <password>${env.AWS_SECRET_KEY}</password>
      <configuration>
        <wagonProvider>s3</wagonProvider>
      </configuration>
    </server>
    <server>
      <id>aws-snapshot</id>
      <username>${env.AWS_ACCESS_KEY}</username>
      <password>${env.AWS_SECRET_KEY}</password>
      <configuration>
        <wagonProvider>s3</wagonProvider>
      </configuration>
    </server>
  </servers>
</settings>
